{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title> {{title}} </title>
    {% else %}
    <title> Welcome to the nest News coverage website </title>
    {% endif %}
</head>
<body>
    <!-- news article-->
    <h3> News Articles</h3>
    <ul>
        {{ macro.displayNewsList(articles)}}
    </ul>
    
    <!-- top headlines news -->
    <h3> Top Headlines news</h3>
    <ul>
        {{ macro.displayNewsList(top_headlines)}}
    </ul>

    <!--latest news -->
    <h3>Latest news</h3>
    <ul>
        {{ macro.displayNewsList(latest)}}
    </ul>
</body>
</html>