<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title> {{title}} </title>
    {% else %}
    <title> Welcome to the nest News coverage website </title>
    {% endif %}
</head>
<body>
    <!-- news article-->
    <h3> Latest News</h3>
    <ul>
        {% for news_articles in articles %}
        <li> {{ news_articles.title }} </li>
        {% endfor %}
    </ul>
    
    <!-- top headlines news -->
    <h3> Sports news</h3>
    <ul>
        {% for top_headlines_news in top_headlines %}
        <li><{{ top_headlines_news.title}}/li>
        {% endfor %}
    </ul>

    <!--latest news -->
    <h3>Business news</h3>
    <ul>
        {% for latest_news in latest %}
        <li>{{latest_news.title}}</li>
        {% endfor %}
    </ul>
</body>
</html>