{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Image background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{news.image_url}}) no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
            <h3>{{ news.title }}</h3>

            <p class="description"> {{ news.description }}</p>
            <p class="published_at"> {{ news.published_at }} </p>


        </div>
    </div>

</div>
{% endblock %}